#table-body3 {
    font: 20px arial, sans-serif;
    border-collapse: collapse;
    width: 100%; /* Alterado para 100% */
    margin: 40px auto;
    border-radius: 10px; /* Alterado para 10px */
    overflow: hidden;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    border-radius: 8%;
    width: 20%;
    position: relative;
}

tr:nth-child(even) {
    background-color: darkgray;
}

.button:hover {
    background-color: aquamarine;
}

.button {
    width: 70%;
    border-radius: 5px;
    height: 27px;
    background-color: antiquewhite;
    border: 1px solid rgb(78, 172, 35);
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
